


:root {

  --main-font-color: #3C3C3C;
  --main-paragraph-color: #848484;
  --main-hover-color: #0647A8;
  --btns-hover--color: #D2D2D2;
  --section-background: #F7F7F7;
  --main-transition: all 0.3s ease-in-out;
  --main-btn-radius: 4.5rem;
}












.feedback .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.feedback .container .slider{
    width: 100%;
}
.feedback .container .slider .rating {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}




.tranding-slider {
  width: 100%;
  padding: 2rem 0;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .tranding-slider {
    width: 100%;

    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {


}

@media only screen and (min-width: 1600px) {
  .tranding-slider {
    width: 66%;

    }
}
@media only screen and (min-width: 992px) and (max-width:1599px){
  .tranding-slider {
    width: 95%;
    }
}

.tranding-slide {
  width:400px !important;
  height: 500px !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--section-background);
  padding: 3rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}
@media only screen and (max-width: 767px) {
  .tranding-slide {
    width: 100% !important;
    height: 500px !important;
    padding: 2rem;
  }
}
/* Medium screens (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tranding-slide {
    width: 100% !important;
    height: 700px !important;
    padding: 2rem;
  }
}
.tranding-slide .client-img {
  width: 50%;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid var(--main-hover-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Medium screens (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tranding-slide .client-img {
    width: 40%;
  }
}

.tranding-slide .client-img img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.tranding-slide .client-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tranding-slide .client-content h2 {
  font-size: 2rem;
  margin: 1rem 0; 
}

.tranding-slide .client-content span {

  margin-bottom: 2rem;
}

@media only screen and (max-width: 767px) {
  .tranding-slide .client-content h2 {
    font-size: 1.3rem;
    margin: 1rem 0; 
  }
  
  .tranding-slide .client-content span {
    margin-bottom: 1.5rem;
  }
}





.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}


.rating ion-icon {
  color: #f9c00e;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--main-hover-color);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  z-index: 100;
}
@media only screen and (max-width: 767px) {
  .tranding-slider-control .slider-arrow {
    width: 2.5rem;
    height: 2.5rem;

  }
}

/* Medium screens (768px - 991px) */
@media only screen and (min-width: 992px) and (max-width: 1599px) {
  .tranding-slider-control .slider-arrow {
    width: 2.5rem;
    height: 2.5rem;

  }
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color:#fff;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 0rem !important;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--main-hover-color);
}