/* start globale rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --main-font-color:#3C3C3C;
    --main-hover-color:#0647A8;
    --btns-hover--color:#D2D2D2;
    --main-transition:0.3s;
}

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0 auto;
    padding:0 15px ;
}
/* small screen */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* medium screen */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* large screen */
@media  (min-width:1200px) {
    .container{
        width:80%;
    }
}

ul{
    list-style:none;
}
a{
    text-decoration: none;
}
.btn{
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 72px;
    background-color: var(--main-hover-color);
    color: #fff;
    padding: 20px 40px;
    transition: var(--main-transition);
}
.btn:hover{
    background-color: var(--btns-hover--color);
    color: var(--main-font-color);
}
/* end globale rules */

/* start header */
header{
    display: flex;
    justify-content: center;
    background-color: #ffff;
}

header  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    width: 100%;
}
header .nav-logo{
    width:337.44px;
}
@media (max-width:767px) {
    header .nav-logo{
      width: 180px;
    }
}
header .links{
    display: flex;
    align-items: center;
}

header .links li a{
    padding: 0 30px;
}
/* @media (max-width:767px) {
    header .links{
        flex-direction: column;
        
    }
    header .links li a{
        padding:  0;
    }
} */
header .links > li > a{
    font-size: 20px;
    font-weight: 400;
    color: var(--main-font-color);
    transition:var(--main-transition) ;
}
header .links li a:hover{
    color: var(--main-hover-color);
}

/* end header */

/* start landing section */
.landing{
    background-image: url(../images/landing/landing.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    background-color:rgba(0,0, 0, 0.35);
    width: 100%;
    height: 100%;
    
}
.landing .container{
height: 100%;
display: flex;
justify-content: space-evenly;
flex-direction: column;
z-index: 1;
}
.landing .container h1{
    margin: 0;
    font-size: 100px;
    letter-spacing: 10px;
    margin-bottom: 40px;
}
.landing .container p{
    font-size: 40px;
    letter-spacing: 10px;
}
.landing .landing-btn{

    display: flex;
    align-items: center;
    justify-content: center;
}

/* end landing section */